<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel = 'stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h1>주식 코드 조회 결과</h1>
    <div>주식 종목 안내</div>
    <form action="result_page" method="post">
      <h2>종목이름: <%= s_name%></h2>
      <h3>현재가: <%= s_price%></h3>
      <h3>전일가: <%= s_yesterday%></h3>
      <h3>고가: <%= s_highvalue%></h3>
      <h3>저가: <%= s_lowvalue%></h3>
      <h3>시초가: <%= s_startvalue%></h3>
      <h3>거래량: <%= s_volume%></h3>
      <h3>거래대금: <%= s_volumevalue%>(단위:백만)</h3>
    </form>
  </body>
</html>
